* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: rgba(172, 114, 82, 0.797);
    color: white;
}

.navbar {
    display: flex;
    background-color: rgba(186, 153, 75, 0.51);

}

.navbar a{
    color: rgb(109, 88, 12);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #c0da3f;
    color: rgb(106, 0, 255);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #6d5f35;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: #a16d47;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #d3b058;
}

@media screen and (max-width: 700px) {
    .row, .navber {
        flex-direction: column;
    }
}